@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.portafolio {
  background-color: #ffffff;
  padding: 60px 15px;
}

.portafolio .section-title {
  margin-bottom: 60px;
  flex-basis: 100%;
  max-width: 100%;
}

.portafolio .section-title h1 {
  margin: 0;
  font-size: 36px;
  text-align: center;
  color: #000000;
  font-weight: 700;
}

.portafolio .portafolio-items {
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portafolio .portafolio-items .item {
  flex-basis: calc(33.33% - 30px);
  max-width: calc(33.33% - 30px);
  margin-bottom: 30px;
  position: relative;
}

.portafolio .portafolio-items .item img {
  width: 100%;
  height: 100%;
  display: block;
}

.portafolio .portafolio-items .item .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0.5);
  opacity: 0;
  transition: all 0.3s ease;
}

.portafolio .portafolio-items .item:hover .overlay {
  transform: scale(0.9);
  opacity: 1;
}

.portafolio .portafolio-items .item .overlay h2 {
  font-size: 24px;
  color: #ffffff;
  margin: 30px 0;
  font-weight: 400;
}

.portafolio .portafolio-items .item .overlay .fa {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 5px;
  font-size: 30px;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}

@media (max-width: 991px) {
  .portafolio .portafolio-items .item {
    flex-basis: calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
}

@media (max-width: 570px) {
  .portafolio .portafolio-items .item {
    flex-basis: calc(100%);
    max-width: calc(100%);
  }
}
